<app-loading [display]="showLoading"></app-loading>

<div class="grid">
  <app-simple-card class="col-12 lg:col-4" [simpleCard]="cardBrand">
  </app-simple-card>
  <app-simple-card class="col-12 lg:col-4" [simpleCard]="cardProduct">
  </app-simple-card>
  <app-simple-card class="col-12 lg:col-4" [simpleCard]="cardProductNotFound">
  </app-simple-card>

  <div class="col-12">
    <div class="card">
      <span class="block text-500 font-medium mb-3">
        Pesquisar por Código de barras
      </span>
      <div [formGroup]="form" class="p-inputgroup">
        <input
          pInputText
          type="text"
          autofocus
          formControlName="barcode"
          (keyup.enter)="findProductByBarcode()" />
        <button
          pButton
          icon="pi pi-search"
          class="p-button"
          (click)="findProductByBarcode()"></button>
      </div>
      <small class="p-error" *ngIf="fieldWithError('barcode')">{{
        getErrorMessage('barcode')
      }}</small>
    </div>
  </div>
</div>

<p-dialog
  header="Produto"
  [(visible)]="openDialogResultProduct"
  [modal]="true"
  styleClass="w-12 lg:w-6 md:w-8 sm:w-10">
  <app-result-product
    *ngIf="openDialogResultProduct"
    [product]="product"></app-result-product>
</p-dialog>
