<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-fieldset [styleClass]="'fieldset ' + tableTitle.styleClass">
        <ng-template pTemplate="header">
          <div>
            <span [ngClass]="['pi', 'mr-2', tableTitle.icon]"></span>
            <span class="font-bold text-lg">{{ tableTitle.title }}</span>
          </div>
        </ng-template>

        <div class="flex justify-content-between flex-column sm:flex-row mb-3">
          <div>
            <button
              *ngIf="isRegisterItem && !isToSelectItem"
              pButton
              label="Cadastrar"
              icon="pi pi-plus"
              class="p-button w-full mb-2"
              (click)="registerItem()"></button>
          </div>

          <div class="p-inputgroup sm:w-max mb-2">
            <span class="p-inputgroup-addon bg-transparent">
              <i class="pi pi-search"></i>
            </span>
            <input
              #filter
              pInputText
              type="text"
              (input)="onGlobalFilter($event)"
              [ngModel]="value | titlecase"
              [placeholder]="defaultFilterPlaceholder" />
            <button
              pButton
              type="button"
              class="p-button"
              icon="pi pi-times"
              (click)="clear()"></button>
          </div>
        </div>

        <div
          *ngIf="datas == null"
          class="flex justify-content-center flex-wrap">
          <p>Nenhum registro cadastrado</p>
        </div>

        <p-table
          #table
          [columns]="columns"
          [value]="datas?.content"
          [rowHover]="true"
          [paginator]="datas != null"
          [rows]="10"
          [lazy]="true"
          (onLazyLoad)="find($event)"
          [showCurrentPageReport]="true"
          [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading.value"
          currentPageReportTemplate="Total de Itens {totalRecords}"
          [tableStyle]="{ 'min-width': tableMinWidth }"
          [sortField]="defaultSort.fieldToSort"
          [sortOrder]="-1">
          <ng-template pTemplate="header" let-columns>
            <tr *ngIf="datas != null">
              <th
                *ngFor="let column of columns"
                pSortableColumn="{{ column.fieldToSort }}">
                {{ column.name }}
                <p-sortIcon field="{{ column.field }}"></p-sortIcon>
              </th>
              <th
                *ngIf="isSearchItem || isEditItem || isDeleteItem"
                class="col-1"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-columns="columns">
            <tr>
              <td *ngFor="let column of columns">
                {{ item | fieldToTable: column.field }}
              </td>
              <td *ngIf="isSearchItem || isEditItem || isDeleteItem">
                <div class="flex">
                  <button
                    *ngIf="isSearchItem && !isToSelectItem"
                    pButton
                    pRipple
                    icon="pi pi-search"
                    class="p-button-rounded p-button-outlined p-button-help mr-2"
                    (click)="searchItem(item)"></button>
                  <button
                    *ngIf="isEditItem && !isToSelectItem"
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-outlined p-button-success mr-2"
                    (click)="editItem(item)"></button>
                  <button
                    *ngIf="isDeleteItem && !isToSelectItem"
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-outlined p-button-danger"
                    (click)="deleteItem(item)"></button>
                  <button
                    *ngIf="isToSelectItem"
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-rounded p-button-outlined p-button-help"
                    (click)="selectItem(item)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
  </div>
</div>
