<app-product-not-found
  [$reloadTableProductsNotFound]="$reloadTableProductsNotFound">
</app-product-not-found>

<app-table
  [tableTitle]="tableTitleProducts"
  [tableMinWidth]="'65rem'"
  (onFind)="findProducts($event)"
  (onRegisterItem)="registerProduct()"
  (onEditItem)="editProduct($event)"
  [loading]="$loadingProducts"
  [columns]="columnsProducts"
  [datas]="products"
  [(reloadTable)]="$reloadTableProducts">
</app-table>

<app-product-register-edit
  [(visible)]="showDialogProduct"
  [product]="product"
  (onSave)="saveProduct()">
</app-product-register-edit>
