<app-table
  *ngIf="showTableProductsNotFound"
  [tableTitle]="tableTitleProductsNotFound"
  [tableMinWidth]="'30rem'"
  (onFind)="findProductsNotFound($event)"
  (onSearchItem)="searchProductNotFound($event)"
  [loading]="$loadingProductsNotFound"
  [columns]="columnsProductsNotFound"
  [datas]="productsNotFound"
  [(reloadTable)]="$reloadTableProductsNotFound"></app-table>

<app-table
  [tableTitle]="tableTitleProducts"
  [tableMinWidth]="'65rem'"
  (onFind)="findProducts($event)"
  (onRegisterItem)="registerProduct()"
  (onEditItem)="editProduct($event)"
  [loading]="$loadingProducts"
  [columns]="columnsProducts"
  [datas]="products"
  [(reloadTable)]="$reloadTableProducts"></app-table>

<app-product-register-edit
  [(visible)]="showDialogProduct"
  [product]="product"
  (onSave)="saveProduct()">
</app-product-register-edit>
