<app-table
  [tableTitle]="tableTitleProductsNotFound"
  [tableMinWidth]="'30rem'"
  (onFind)="findProductsNotFound($event)"
  (onSearchItem)="searchProductNotFound($event)"
  [loading]="$loadingProductsNotFound"
  [columns]="columnsProductsNotFound"
  [datas]="productsNotFound"
  [(reloadTable)]="$reloadTableProductsNotFound"></app-table>

<app-table
  [tableTitle]="tableTitleProducts"
  (onFind)="findProducts($event)"
  (onRegisterItem)="registerProduct()"
  (onEditItem)="editProduct($event)"
  (onDeleteItem)="deleteProduct($event)"
  [loading]="$loadingProducts"
  [columns]="columnsProducts"
  [datas]="products"
  [(reloadTable)]="$reloadTableProducts"></app-table>
