<p-table
  [columns]="columns"
  [value]="brands?.content"
  [rowHover]="true"
  [paginator]="true"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="findBrands($event)"
  [showCurrentPageReport]="true"
  [totalRecords]="brands?.totalElements"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  currentPageReportTemplate="{first} até {last} de {totalRecords}"
  [tableStyle]="{ 'min-width': '45rem' }"
  [sortField]="defaultSort">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let column of columns" pSortableColumn="{{ column.field }}">
        {{ column.name }} <p-sortIcon field="{{ column.field }}"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-columns="columns">
    <tr>
      <td *ngFor="let column of columns">{{ item[column.field] }}</td>
    </tr>
  </ng-template>
</p-table>
