<div class="grid">
  <app-simple-card
    class="col-12 lg:col-4"
    [simpleCard]="cardBrand"></app-simple-card>
  <app-simple-card
    class="col-12 lg:col-4"
    [simpleCard]="cardProduct"></app-simple-card>
  <app-simple-card
    class="col-12 lg:col-4"
    [simpleCard]="cardProductNotFound"></app-simple-card>

  <div class="col-12">
    <div class="card">
      <span class="block text-500 font-medium mb-3">
        Pesquisar produto por Código de Barras
      </span>
      <div class="flex flex-column">
        <input pInputText type="text" autofocus />
      </div>
    </div>
  </div>
</div>
